<!DOCTYPE html>
<html lang="en">

<head>
  <title>Emotional Talking Faces</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="static/images/favicon-small.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/applicationStyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- <script src="static/play2.js" defer></script> -->
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="logo-image">
        <img src="static/images/icon.jpg" class="img-fluid">
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><b>Emotional Talking Faces</b></a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/emo"><b>Home</b></a></li>
        <!-- <li><a href="#">Home</a></li> -->
        <li ><a href="model"><b>Model</b></a></li>
        <li class="active"><a href="application"><b>Application</b></a></li>
        <li><a href="example"><b>Examples</b></a></li>
        <li><a href="paper"><b>Paper</b></a></li>
        <li><a href="demo"><b>Demo</b></a></li>
        <li><a href="code"><b>Code</b></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><button type="button" class="oval" href="#"><span class="glyphicon glyphicon-user "></span> <b>Sign
              In</b></button></li>
      </ul>
    </div>
  </nav>

  <div class="container classImg">
    <img src="static/images/applicationImage.jpg" alt="Application Image" style="width: 60%; height:auto; margin-left: 20%; margin-top: 2%;">
    <p><span class="captionImg" style="font-size: 2.5vh; margin-left: 20%; margin-top: 5px;">All the videos in these applications can be rendered with the desired <span class="boldText"> target emotion. </span></span></p>
  </div>

  <div class="reference">
    <!-- <p><span class="reference">Figure1. K R Prajwal et al. <a class = "blueRef" href = "http://cvit.iiit.ac.in/research/projects/cvit-projects/a-lip-sync-expert-is-all-you-need-for-speech-to-lip-generation-in-the-wild">Lip Sync Expert Is All You Need for Speech to Lip Generation In The Wild </a> ACM Multimedia, 2020.</span></p> -->
    <ul class="referenceLines" style="bottom: 0.5%; position:absolute; font-size: 1.5vh;">
      <li>Figure1. K R Prajwal et al.</li>
      <li><a href="http://cvit.iiit.ac.in/research/projects/cvit-projects/a-lip-sync-expert-is-all-you-need-for-speech-to-lip-generation-in-the-wild">Lip Sync Expert Is All You Need for Speech to Lip Generation In The Wild</a></li>
      <li>ACM Multimedia, 2020.</li>
    </ul>
  
  </div>

  <div class="rectangle"></div>
  <div class="rectangle2"></div>
</body>

</html>