<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/play.js" defer></script>
    <title>DeepFake Emotions</title> -->


    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>DeepFake Emotions</title>
</head>
<body>
    <h1>Hi! There</h1>
    <p>Checking API</p>
    <button id="butt">Click me</button>
    <h2 id = "name"></h2>


    <h3>Show a file-select field which allows only one file to be chosen:</h3>

    <input type="file" id="myfile" name="file_name"><br><br>


    <p>Click on the "Choose Video" button to upload an video file:</p>

    <form action="/upload" method="POST" enctype="multipart/form-data" target="frame">
    <input type="file" id="video_file" name="file_name" accept=".mp4, .mkv" required>
    <input type="submit" id="video_submit">
    </form>
    <iframe name="frame" style="display:none;"></iframe>
    <br>
    <video id = 'input_video' width="300px" height="200px" controls="controls" style="display: none;" > 
        <source id="video_src">
    </video>

    <p>Click on the "Choose Audio" button to upload an audio file:</p>

    <!-- <input type="file" id="audio_file" name="audio_filename" accept=".mp3, .wav"> -->
    <!-- <button id="submit_audio"></button> -->

    <form action="/upload" method="POST" enctype="multipart/form-data" target="frame">
    <input type="file" id="audio_file" name="file_name" accept=".mp3, .wav" required>
    <input type="submit" id="audio_submit">
    </form>
    <iframe name="frame" style="display:none;"></iframe>
    <br>
    <video id = 'input_video' width="300px" height="200px" controls="controls" style="display: none;" > 
        <source id="video_src">
    </video>

    <p>Select the Emotion from below:</p>

    <label for="emotions"></label>
    <select name="emotions" id="emotions">
        <option value="">Emotions</option>
        <option value="anger">Anger</option>
        <option value="disgust">Disgust</option>
        <option value="fear">Fear</option>
        <option value="happiness">Happiness</option>
        <option value="neutral">Neutral</option>
        <option value="sad">Sad</option>
    </select>
    <br><br>
    <!-- <input type="submit" value="Submit">
    <button id="submit_emotion"></button> -->

    <h2>Record</h2>
    <p>
        <button id=record></button>
        <button id=stopRecord disabled>Stop</button>
    </p>
    <p>
        <audio id=recordedAudio></audio>

    </p>

    <br><br>

    <button id='final_button' type="submit" value="Generate Result">Generate Result</button>

    <!-- <button id='final_button'>Generate Result</button> -->

    <br><br>

    <video id = 'final_result' width="600px" height="400px" controls="controls" style="display: none;" > 
        <source src="/static/Wav2Lip/results/result_voice.mp4"  type="video/mp4">
    </video>
    
    <div class="loader" id ="load" style="display: none;"></div>
    



        <!-- ----------Scripts------------------ -->

        <script>
                navigator.mediaDevices.getUserMedia({audio:true})
      .then(stream => {handlerFunction(stream)})


            function handlerFunction(stream) {
            rec = new MediaRecorder(stream);
            rec.ondataavailable = e => {
              audioChunks.push(e.data);
              if (rec.state == "inactive"){
                let blob = new Blob(audioChunks,{type:'audio/mpeg-3'});
                recordedAudio.src = URL.createObjectURL(blob);
                recordedAudio.controls=true;
                recordedAudio.autoplay=true;
                sendData(blob)
              }
            }
          }
                function sendData(data) {}

        record.onclick = e => {
          console.log('I was clicked')
          record.disabled = true;
          record.style.backgroundColor = "blue"
          stopRecord.disabled=false;
          audioChunks = [];
          rec.start();
        }
        stopRecord.onclick = e => {
          console.log("I was clicked")
          record.disabled = false;
          stop.disabled=true;
          record.style.backgroundColor = "red"
          rec.stop();
        }
        </script>

        <script src="static/play.js" defer></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    

</body>
</html>