:root {
    --textColor: #FFA602;
}

body {
    overflow: hidden;
}

.navbar,
.navbar-inverse {
    background: white;
    /* display:inline-block; */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}

a,
a:link,
a:visited {
    color: var(--textColor) !important;
    text-decoration: none;
}

.logo-image {
    width: 5%;
    display: inline-block;
    float: left;
}

.navbar-header {
    width: 20.5%;
    display: inline-block;
}

.img-fluid {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 0px;
}

.navbar-fixed-top ul li {
    display: inline-block;
    /* color:#808080 !important; */

}

li {
    /* display: inline; */
    list-style: none;
    padding-right: 30px;
}

.oval {
    background-color: #ddd;
    border: black;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8px -10px;
    cursor: pointer;
    border-radius: 16px;
    /* margin-top: 4px */
}

.oval:hover {
    background-color: #f1f1f1;
}

.rectangle {
    /* width: 24rem;
    height: 14rem; */
    background: rgb(0, 119, 128);
    transform: rotate(-45deg);
    position: absolute;
    width: 75%;
    height: 75%;
    left: 75%;
    bottom: 75%;
    background: #FFEAA7;
    border-radius: 99px;
    transform: rotate(-45deg);
    z-index: -1;
    overflow: clip;
}

.rectangle2 {
    /* width: 24rem;
    height: 14rem; */
    background: rgb(0, 119, 128);
    transform: rotate(45deg);
    position: absolute;
    width: 75%;
    height: 75%;
    right: 75%;
    top: 80%;
    background: #FFEAA7;
    border-radius: 99px;
    transform: rotate(-45deg);
    z-index: -1;
    overflow: clip;
}


.container img{
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-top: 1%;
}

.captionImg{
    display: inline-block;
    margin-left: 17%;
    margin-top: 2%;
    font-size: 20px;
}

.boldText{
    font-weight: bold;
}

.reference{
    margin-top: 2%;
}

.reference ul li{
    float:left;
    padding: 5px;
    display: block;
}

.reference ul li:hover a{
    color:(red)!important;
    text-decoration: none;
}
